:root {
    --cor-de-fundo:rgb(230, 122, 197);
    --cor-cabecalho: #ffffff;
    --fundo-menu:  #ffffff;}

body {
 background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-cabecalho);
    text-align: center;
}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-titulo {
    text-align: center;
    font-weight: 700;
    padding: 12px;
    font-size: 36px;
}
 
.cabecalho-menu-item{
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 0, 212);
    text-align: center;
    border-top: 1px solid;
}

.fror {
    width: 750px;
}

#burguer {
    background-color: rgb(71, 240, 255);
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    }

    #menu {
    display: none;
   
}
